<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>飲食店マップ</title>


    <link
        rel="stylesheet"
        href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    />
    <link rel="icon" href="data:,">

    <link rel="stylesheet" href="/static/css/map.css" />
</head>
<body>
    <h1>飲食店マップ</h1>


    <div id="map"></div>

    <div id="controls">
        <label><input type="checkbox" id="filter-convenience" checked> コンビニ</label>
        <label><input type="checkbox" id="filter-cafe" checked> カフェ・喫茶店</label>
        <label><input type="checkbox" id="filter-drugstore" checked> ドラッグストア</label>
        <label><input type="checkbox" id="filter-super" checked> スーパー</label>
        <label><input type="checkbox" id="filter-other" checked>その他(レストラン)</label>
        <br>
        <label><input type="checkbox" id="filter-stations" checked> 駅</label>
        <label><input type="checkbox" id="filter-bus-stops"> バス停</label>
    </div>

    <div id="station-timetable">
        <h2>最寄り駅の時刻表</h2>
        <div id="timetable-content">
            駅を選択してください
        </div>
    </div>


    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <script src="/static/js/findNear.js"></script>
    <script src="/static/js/classification.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>
